LAB_CLI_KEEP=DOCKER_BASE_IMAGE,DOCKER_BASE_TAG,COMPOSE_PROJECT_NAME,APACHE_WEBROOT,PROJECT_ENV,APP_COMPOSER_VERSION,DOPPLER_PROJECT,DOPPLER_CONFIG,APP_DOMAIN,APP_FRONTEND_DOMAIN,APP_COOKIE_DOMAIN

DOCKER_BASE_IMAGE=labordigital/docker-base-images-v2
DOCKER_BASE_TAG=php84
COMPOSE_PROJECT_NAME={{PROJECT_NAME}}-backend
APACHE_WEBROOT=/var/www/html/public
PROJECT_ENV=dev
APP_COMPOSER_VERSION=2

DOPPLER_TOKEN=
DOPPLER_PROJECT={{DOPPLER_PROJECT}}
DOPPLER_CONFIG={{DOPPLER_CONFIG}}

APP_IP=
APP_DOMAIN=
APP_FRONTEND_DOMAIN=
APP_COOKIE_DOMAIN=

MYSQL_ROOT_PASSWORD=
APP_MYSQL_DATABASE=
APP_MYSQL_USER=
APP_MYSQL_PASS=

APP_WORKING_DIR=
APP_IMPORT_DIR=
APP_DATA_DIR=
APP_SSH_DIR=
APP_LOG_DIR=
APP_OPT_DIR=
APP_ROOT_DIR=
