LAB_CLI_KEEP=DOCKER_BASE_IMAGE,DOCKER_BASE_TAG,COMPOSE_PROJECT_NAME,APACHE_WEBROOT,PROJECT_ENV,DOPPLER_PROJECT,DOPPLER_CONFIG,APP_DOMAIN,TYPO3_API_BASE_URL

DOCKER_BASE_IMAGE=labordigital/docker-base-images-v2
DOCKER_BASE_TAG=node22
COMPOSE_PROJECT_NAME={{PROJECT_NAME}}-frontend
APACHE_WEBROOT=/var/www/html/webroot
PROJECT_ENV=dev

DOPPLER_TOKEN=
DOPPLER_PROJECT={{DOPPLER_PROJECT}}
DOPPLER_CONFIG={{DOPPLER_CONFIG}}

APP_IP=
APP_DOMAIN=
TYPO3_API_BASE_URL=
BACKEND_NETWORK={{PROJECT_NAME}}-backend-shared

MYSQL_ROOT_PASSWORD=
APP_MYSQL_DATABASE=
APP_MYSQL_USER=
APP_MYSQL_PASS=

APP_WORKING_DIR=
APP_IMPORT_DIR=
APP_DATA_DIR=
APP_SSH_DIR=
APP_LOG_DIR=
APP_OPT_DIR=
APP_ROOT_DIR=
