.settings/
.DS_Store
.env
.env.app
.unison*
vendor
perms*.set

# IDEA Code Style
.idea/*
!.idea/copyright
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/php-inspections-ea-ultimate.xml
!.idea/saveactions_settings.xml
!.idea/dataSources*.xml
