LAB_CLI_KEEP=DOCKER_BASE_IMAGE,DOCKER_BASE_TAG,COMPOSE_PROJECT_NAME,APACHE_WEBROOT,PROJECT_ENV,DOPPLER_PROJECT,DOPPLER_CONFIG,APP_DOMAIN

DOCKER_BASE_IMAGE=labordigital/docker-base-images-v2
DOCKER_BASE_TAG=node22
COMPOSE_PROJECT_NAME=lab-factory-frontend
APACHE_WEBROOT=/var/www/html/webroot
PROJECT_ENV=dev

DOPPLER_TOKEN=
DOPPLER_PROJECT=lab_fac_app
DOPPLER_CONFIG=dev_frontend

APP_IP=
APP_DOMAIN=lab-fac-fro.labor.systems

MYSQL_ROOT_PASSWORD=
APP_MYSQL_DATABASE=
APP_MYSQL_USER=
APP_MYSQL_PASS=

APP_WORKING_DIR=
APP_IMPORT_DIR=
APP_DATA_DIR=
APP_SSH_DIR=
APP_LOG_DIR=
APP_OPT_DIR=
APP_ROOT_DIR=